:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-container {
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: center;


}

.input-main {
    height: 2vh;
    width: 14vw;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    font-size: 22px;
    outline: none;
}

.final-result-txt {
    font-size: 25px;
    border: 1px solid wheat;
    padding: 10px;
    border-radius: 10px;
    background-color: grey;
    font-weight: 600;
}

.error-main {
    color: red;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    background-color: blue;
    color: white;
    padding: 5px 25px;
    width: 8vw;
    font-weight: 700;
    border: 1px solid transparent;
    font-size: 20px;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}